/* Product Page Styles ##########################################################################################################################################*/

/* Product main info stack ######################################################################################################################################*/
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-store-components-3-x-productNameContainer),
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-store-components-3-x-productNameContainer) {
  font-size: 32px;
  color: #000000;
  font-family: "TitilliumWebRegular";
}
:global(.vtex-product-quantity-1-x-quantitySelectorStepper)
  :global(.vtex-numeric-stepper__plus-button-container),
:global(.vtex-product-quantity-1-x-quantitySelectorStepper)
  :global(.vtex-numeric-stepper__minus-button-container) {
  visibility: hidden;
}
:global(.vtex-product-quantity-1-x-quantitySelectorStepper)
  :global(.vtex-numeric-stepper__minus-button),
:global(.vtex-product-quantity-1-x-quantitySelectorStepper)
  :global(.vtex-numeric-stepper__plus-button) {
  width: fit-content !important;
}
:global(.vtex-product-quantity-1-x-quantitySelectorStepper)
  :global(.vtex-numeric-stepper__input) {
  border: 0;
  max-width: 35px;
  font-size: 16px;
  font-family: "TitilliumWebBold";
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-identifiers) {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-product-identifier-0-x-product-identifier) {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  margin-bottom: 2px;
  color: #134197;
  font-family: "TitilliumWebBold";
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-product-identifier-0-x-product-identifier)
  :global(.vtex-product-identifier-0-x-product-identifier__value) {
  margin-left: 5px;
}
:global(.vtex-flex-layout-0-x-flexRow--row-identifiers-noArt) {
  margin-bottom: 14px;
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-product-price-1-x-listPrice),
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-product-price-1-x-listPrice) {
  font-size: 26px;
  color: #8c8c8c;
  font-family: "TitilliumWebRegular";
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-product-price-1-x-sellingPriceValue),
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-product-price-1-x-sellingPriceValue) {
  font-size: 36px;
  color: #000000;
  font-family: "TitilliumWebRegular";
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-product-quantity-1-x-quantitySelectorContainer),
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  margin: 14px 0;
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-store-components-3-x-productNameContainer--quickview) {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-product-identifier-0-x-product-identifier) {
  margin-bottom: 5px;
}
:global(.vtex-store-components-3-x-shareLabel) {
  width: 100vw;
  padding: 0 16px;
}
@media (min-width: 750px) {
  :global(.vtex-store-components-3-x-shareLabel) {
    width: fit-content;
    padding: 0;
  }
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-mobile)
  :global(.vtex-store-components-3-x-shareButtons) {
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: flex-start;
}
:global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
  :global(.vtex-button) {
  width: 380px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #00adee;
  transition: 0.3s ease all;
}
@media (min-width: 750px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
    :global(.vtex-button) {
    width: 260px;
    height: 39px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  font-size: 16px;
  color: #00adee;
  font-family: "TitilliumWebBold";
  text-transform: initial;
}
:global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
  :global(.vtex-button):hover {
  background-color: #00adee;
}
:global(.vtex-flex-layout-0-x-flexRowContent--addtocart-btn)
  :global(.vtex-button)
  :global(.vtex-button__label):hover {
  color: #ffffff;
}
:global(.vtex-store-components-3-x-shareLabel) {
  font-size: 0;
}
:global(.vtex-store-components-3-x-shareLabel)::before {
  content: "Compartir por";
  font-size: 16px;
  color: #000000;
  font-family: "TitilliumWebRegular";
}
:global(.vtex-flex-layout-0-x-flexCol--pdp-prod-stack-mobile) {
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexColChild--pdp-prod-stack-desktop)
  :global(.vtex-numeric-stepper-container) {
  justify-content: flex-start;
}

/* Image stack ########################################################################################################################################################*/
:global(.vtex-store-components-3-x-thumbImg) {
  max-height: 70px;
  max-width: 70px;
  margin: auto;
}
:global(.vtex-store-components-3-x-productImagesGallerySwiperContainer)
  :global(.vtex-store-components-3-x-swiperCaret) {
  display: none;
}
:global(.vtex-store-components-3-x-productImageTag--main) {
  margin-bottom: 40px;
}
:global(.vtex-store-components-3-x-swiper-pagination) {
  top: 215px !important;
}
@media (min-width: 450px) {
  :global(.vtex-stack-layout-0-x-stackContainer--product)
    :global(.vtex-product-highlights-2-x-productHighlightWrapper) {
    left: 11vw;
  }
}

/* Tab Layout Mobile ########################################################################################################################################################*/
:global(.vtex-flex-layout-0-x-flexRowContent--info-prod)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  flex-direction: column;
}
:global(.vtex-flex-layout-0-x-flexRow--info-prod)
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--info-prod)
  :global(.vtex-disclosure-layout-1-x-trigger) {
  justify-content: center;
  background: #134197;
}
:global(.vtex-flex-layout-0-x-flexRowContent--info-prod)
  :global(.vtex-store-icons-0-x-caretIcon) {
  position: absolute;
  right: 20px;
  color: #ffffff;
}
:global(.vtex-rich-text-0-x-wrapper--info-prod-titulo)
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #ffffff !important;
  font-family: "TitilliumWebRegular";
  font-weight: 400 !important;
}
:global(.vtex-disclosure-layout-1-x-content) {
  padding: 10px 20px;
}
:global(.vtex-flex-layout-0-x-flexRow--banner-pdp-container)
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
:global(.vtex-store-components-3-x-imageElement--banner-pdp-mobile) {
  max-width: 90vw;
}
:global(.vtex-flex-layout-0-x-flexRow--banner-pdp-container) {
  margin: 20px 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--banner-pdp-container)
  :global(.vtex-store-components-3-x-imageElementLink--banner-pdp-mobile) {
  display: contents !important;
}

/* Tab Layout ########################################################################################################################################################*/
:global(.vtex-tab-layout-0-x-listContainer) {
  border-bottom: 4px solid #134197;
  justify-content: flex-start;
  padding-left: 20px;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItem) {
  padding: 0;
  margin: 0;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItem)
  :global(.vtex-button) {
  border: 0;
  border-radius: 4px 4px 0 0;
  background-color: #f0f0f0;
  width: 185px;
  height: 40px;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItem)
  :global(.vtex-button)
  :global(.vtex-button__label):hover {
  background: none !important;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItem)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  color: #949494;
  font-family: "TitilliumWebRegular";
  font-size: 26px;
  padding: 0;
  text-transform: initial;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItemActive)
  :global(.vtex-button) {
  background-color: #134197;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItemActive)
  :global(.vtex-button)
  :global(.vtex-button__label):hover {
  background: none !important;
}
:global(.vtex-tab-layout-0-x-listContainer)
  :global(.vtex-tab-layout-0-x-listItemActive)
  :global(.vtex-button)
  :global(.vtex-button__label) {
  color: #ffffff;
  font-weight: 600;
}
:global(.vtex-flex-layout-0-x-flexCol--colinfo) {
  padding: 0 20px;
}
:global(.vtex-flex-layout-0-x-flexRow--content-tablayout) {
  margin: 30px 20px;
}
:global(.vtex-store-components-3-x-productDescriptionContainer)
  :global(.vtex-store-components-3-x-content) {
  text-align: center;
  font-family: "TitilliumWebRegular";
  font-size: 22px;
  color: #000000;
}
:global(.vtex-breadcrumb-1-x-arrow) {
  padding-left: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-precios),
:global(.vtex-flex-layout-0-x-flexRowContent--row-shelf-pdp) {
  flex-direction: column;
}
:global(.vtex-flex-layout-0-x-flexRow--row-precios) {
  margin-bottom: 2rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-shelf-pdp)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}
:global(.vtex-rich-text-0-x-container--tit-shelf-pdp) {
  justify-content: center;
}
:global(.vtex-rich-text-0-x-paragraph--tit-shelf-pdp) {
  font-family: "TitilliumWebBold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 0;
}
@media (min-width: 750px) {
  :global(.vtex-rich-text-0-x-paragraph--tit-shelf-pdp) {
    font-size: 34px;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--addtocart-btn)
  :global(.vtex-button__label):hover {
  background: none;
}
:global(.vtex-store-components-3-x-subscriberContainer) :global(.vtex-button) {
  border: 1px solid #00adee;
}
:global(.vtex-store-components-3-x-subscriberContainer)
  :global(.vtex-button)
  :global(.vtex-button__label):hover {
  background-color: #00adee;
  color: #ffffff;
}
